<?xml version="1.0" encoding="UTF-8"?>

<Configuration>

    <Properties>
        <Property name="LOG_PATTERN">[%-7level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %highlight{%msg%n}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green}</Property>
    </Properties>

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Filters>
                <ThresholdFilter level="INFO"/>
            </Filters>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
<!--            <AppenderRef ref="LOGFILE"/>-->
        </Root>
    </Loggers>

</Configuration>